.promo {
  min-height: 700px;
  position: relative;
  padding-top: 39px;
  &:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url("../img/promo/main-promo.png") center center/cover no-repeat;
    background-blend-mode: multiply;
    background-color: #5e6369;
    z-index: -5;
  }
  &__links {
    height: 65px;
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    width: 140px;
    height: 65px;
  }
  &__nav {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    width: 540px;
  }
  &__link {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    &:hover,
    &:active {
      text-decoration: none;
      color: #ffffff;
    }
  }
  &__main-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &__descr {
    margin-top: 133px;
    margin-bottom: 195px;
    max-width: 530px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__title {
    font-size: 42px;
    line-height: 48px;
    font-weight: 900;
    color: #ffffff;
  }
  &__subtitle {
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    color: #ffffff;
    margin-top: 27px;
    margin-bottom: 39px;
  }
  &__carousel-img {
    width: 320px;
    height: 596px;
  }

  .swiper {
    width: 55%;
    display: flex;
    justify-content: flex-end;
    margin-left: 0px;
    margin-right: 0px;
    position: relative;
  }

  .swiper-wrapper {
    display: flex;
    align-items: flex-end;
  }

  .swiper-slide {
    display: flex;
    justify-content: flex-end;
    width: 300px;
    height: 596px;
    overflow: hidden;
  }

  .swiper-pagination {
    position: absolute;
    bottom: 68px;
    left: -230px;
  }

  .swiper__opt {
    position: absolute;
    z-index: -1;
    width: 300px;
    bottom: 0;
    right: 310px;
  }

  .custom-prev,
  .custom-next {
    position: absolute;
    top: 278px;
    left: 4px;
  }
  .custom-next {
    left: auto;
    right: -105px;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: rgba(0, 0, 0, 0);
    border: 2px solid #fff;
  }

  .swiper-pagination-bullet-active {
    background: #fff;
  }

  .swiper-button-next:after {
    content: "";
  }
  .swiper-button-prev:after {
    content: "";
  }
}
